<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dodaj Recenzję</title>
</head>
<body>
<h1>Dodaj nową recenzję</h1>

<form method="POST" th:action="@{/add-review}" enctype="multipart/form-data">
    <label for="cover">Okładka:</label>
    <input type="file" id="cover" name="cover" accept="image/*"><br><br>

    <label for="contentType">Typ zawartości:</label>
    <select id="contentType" name="contentType" required>
        <option value="game">Gra</option>
        <option value="movie">Film</option>
        <option value="tvseries">Serial TV</option>
        <option value="book">Książka</option>
    </select><br><br>

    <label for="contentTitle">Nazwa recenzowanej rzeczy:</label>
    <input type="text" id="contentTitle" name="contentTitle" required><br><br>

    <label for="reviewTitle">Tytuł recenzji:</label>
    <input type="text" id="reviewTitle" name="reviewTitle"><br><br>

    <label for="reviewDescription">Treść recenzji:</label><br>
    <textarea id="reviewDescription" name="reviewDescription" rows="10" cols="50" required></textarea><br><br>

    <button type="submit">Wyślij</button>
</form>

</body>
</html>
